<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.willingtogohome.gymga.fac.model.dao.FacMapper">
    <resultMap id="facResultMap" type="com.willingtogohome.gymga.fac.model.dto.FacDTO">
        <id property="facCode" column="fac_code"/>
        <result property="facStatus" column="fac_status"/>
        <result property="facStart" column="fac_start"/>
        <result property="userCode" column="user_code"/>
        <result property="facEnd" column="fac_end"/>
    </resultMap>

    <resultMap id="userResultMap" type="com.willingtogohome.gymga.fac.model.dto.UserDTO">
        <id property="userCode" column="user_code"/>
        <result property="userName" column="user_name"/>
    </resultMap>
    <select id="findAllFac" resultMap="facResultMap">
        SELECT
                FAC_CODE
                , FAC_STATUS
                , FAC_START
                , USER_CODE
                , FAC_END
            FROM FACILITYDB
            ORDER BY FAC_CODE
    </select>

    <select id="findAllExp" resultMap="facResultMap">
        SELECT
        FAC_CODE
        , FAC_STATUS
        , FAC_START
        , USER_CODE
        , FAC_END
        FROM FACILITYDB
        WHERE FAC_STATUS="만료"
        ORDER BY FAC_CODE
    </select>

    <select id="findAllPer" parameterType="_int" resultMap="facResultMap">
        SELECT FAC_CODE, FAC_STATUS, FAC_START, USER_CODE, FAC_END
        FROM FACILITYDB
            WHERE FAC_CODE = #{facCode}
    </select>

    <select id="findAllUser" resultMap="userResultMap">
        SELECT
                USER_CODE
            FROM USERDB
    </select>

<!--    <resultMap id="facAndUserResultMap" type="com.willingtogohome.gymga.fac.model.dto.FacAndUserDTO">-->
<!--      <id property="facCode" column="fac_code"/>-->
<!--       <result property="facStatus" column="fac_status"/>-->
<!--       <result property="facStart" column="fac_start"/>-->
<!--      <result property="facEnd" column="fac_end"/>-->
<!--       <association property="user" javaType="com.willingtogohome.gymga.fac.model.dto.UserDTO">-->
<!--           <id property="userCode" column="user_code"/>-->
<!--           <result property="userName" column="user_name"/>-->
<!--       </association>-->
<!--    </resultMap>-->

<!--    <insert id="registNewFac" parameterType="com.willingtogohome.gymga.fac.model.dto.FacDTO">-->
<!--        INSERT INTO FACILITYDB-->
<!--        (-->
<!--            FAC_CODE-->
<!--            , FAC_STATUS-->
<!--            , FAC_START-->
<!--            , USER_CODE-->
<!--            , FAC_END-->
<!--        )-->
<!--        VALUES-->
<!--        (-->
<!--            #{facCode}-->
<!--            , #{facStatus}-->
<!--            , #{facStart}-->
<!--            , #{userCode}-->
<!--            , #{facEnd}-->
<!--        )-->

<!--    </insert>-->


    <update id="registNewFac" parameterType="com.willingtogohome.gymga.fac.model.dto.FacDTO">
        UPDATE
            FACILITYDB

        SET
        FAC_STATUS=#{facStatus}
        , FAC_START=#{facStart}
        , USER_CODE=#{userCode}
        , FAC_END=#{facEnd}
        WHERE FAC_CODE=#{facCode}

    </update>

<!--    <update id="updateReNewFac" parameterType="com.willingtogohome.gymga.fac.model.dto.FacDTO">-->
<!--        MERGE INTO FACILITYDB AS target-->
<!--        USING (VALUES (-->
<!--        #{facCode},-->
<!--        #{facStatus},-->
<!--        #{facStart},-->
<!--        #{facEnd},-->
<!--        #{userCode}-->
<!--        )) AS source (FAC_CODE, FAC_STATUS, FAC_START, FAC_END, USER_CODE)-->
<!--        ON target.FAC_CODE = source.FAC_CODE-->
<!--        WHEN MATCHED THEN-->
<!--        UPDATE SET-->
<!--        FAC_STATUS = source.FAC_STATUS,-->
<!--        FAC_START = source.FAC_START,-->
<!--        FAC_END = source.FAC_END,-->
<!--        USER_CODE = source.USER_CODE-->
<!--        WHEN NOT MATCHED THEN-->
<!--        INSERT (FAC_CODE, FAC_STATUS, FAC_START, FAC_END, USER_CODE)-->
<!--        VALUES (source.FAC_CODE, source.FAC_STATUS, source.FAC_START, source.FAC_END, source.USER_CODE);-->
<!--    </update>-->

<!--    <delete id="updateRenewFac" parameterType="com.willingtogohome.gymga.fac.model.dto.FacDTO">-->
<!--        DELETE-->
<!--        FROM FACILITYDB-->
<!--        WHERE USER_CODE=#{userCode}-->
<!--    </delete>-->

    <update id="updateRenewFac" parameterType="com.willingtogohome.gymga.fac.model.dto.FacDTO">
        UPDATE
        FACILITYDB

        SET
        FAC_STATUS=#{facStatus}
        , FAC_START=#{facStart}
        , FAC_END=#{facEnd}
        , USER_CODE=#{userCode}
        WHERE FAC_CODE=#{facCode}
    </update>

    <update id="deleteFac" parameterType="com.willingtogohome.gymga.fac.model.dto.FacDTO">
        UPDATE
        FACILITYDB

        SET
        FAC_STATUS=#{facStatus}
        , FAC_START=#{facStart}
        , FAC_END=#{facEnd}
        , USER_CODE=#{userCode}
        WHERE FAC_CODE=#{facCode}
    </update>
</mapper>