<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https:/mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.willingtogohome.gymga.user.model.dao.UserMapper">

    <resultMap id="userResultMap" type="com.willingtogohome.gymga.user.model.dto.UserDTO">
        <id property="userCode" column="user_code"/>
        <result property="userId" column="user_id"/>
        <result property="userPwd" column="user_pwd"/>
        <result property="userName" column="user_name"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userRole" column="user_role"/>
        <result property="userPic" column="user_pic"/>
        <result property="userGender" column="user_gender"/>
        <result property="userBirth" column="user_birth"/>
        <result property="userAddress" column="user_address"/>
        <result property="userEtc" column="user_etc"/>
        <result property="userStaff" column="user_staff"/>
    </resultMap>

    <resultMap id="userTotResultMap" type="com.willingtogohome.gymga.user.model.dto.UserDTO">
        <id property="userCode" column="user_code"/>
        <result property="userId" column="user_id"/>
        <result property="userPwd" column="user_pwd"/>
        <result property="userName" column="user_name"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userRole" column="user_role"/>
        <result property="userPic" column="user_pic"/>
        <result property="userGender" column="user_gender"/>
        <result property="userBirth" column="user_birth"/>
        <result property="userAddress" column="user_address"/>
        <result property="userEtc" column="user_etc"/>
        <result property="userStaff" column="user_staff"/>
        <association property="physicalDTO" javaType="com.willingtogohome.gymga.user.model.dto.PhysicalDTO">
            <id property="userCode" column="USER_CODE"/>
            <result property="height" column="PHY_HEIGHT"/>
            <result property="weight" column="PHY_WEIGHT"/>
            <result property="bmi" column="PHY_BMI"/>
        </association>
    </resultMap>

    <resultMap id="userAndEmpResultMap" type="com.willingtogohome.gymga.user.model.dto.UserAndEmpDTO">
        <id property="userCode" column="user_code"/>
        <result property="userId" column="user_id"/>
        <result property="userPwd" column="user_pwd"/>
        <result property="userName" column="user_name"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userRole" column="user_role"/>
        <result property="userPic" column="user_pic"/>
        <result property="userGender" column="user_gender"/>
        <result property="userBirth" column="user_birth"/>
        <result property="userAddress" column="user_address"/>
        <result property="userEtc" column="user_etc"/>
        <result property="userStaff" column="user_staff"/>
        <association property="empCategory" javaType="com.willingtogohome.gymga.user.model.dto.User2DTO">
            <id property="empCode" column="user_code"/>
            <result property="empName" column="user_name"/>
        </association>
    </resultMap>


    <select id="allUser" resultMap="userAndEmpResultMap">
        SELECT
              USER_CODE
            , USER_NAME
            , USER_ID
            , USER_GENDER
            , USER_PHONE
            , USER_STAFF
            , USER_ROLE
         FROM
              USERDB
        WHERE
              USER_ROLE = '회원'
        ORDER BY
              USER_CODE
    </select>

    <select id="findLastCode" resultType="_int">
        SELECT
                MAX(USER_CODE)
        FROM USERDB
    </select>

    <select id="selectDetail" parameterType="com.willingtogohome.gymga.user.model.dto.UserTotDTO">
        SELECT
                A. USER_NAME
             ,  A. USER_ID
             ,  A. USER_PWD
             ,  A. USER_BIRTH
             ,  A. USER_GENDER
             ,  A. USER_PHONE
             ,  A. USER_ADDRESS
             ,  A. USER_ETC
             ,  B.PHY_HEIGHT
             ,  B.PHY_WEIGHT
             ,  B.PHY_BMI
        FROM
             USERDB A
        JOIN
             PHYSICALDB B ON A.USER_CODE = B.USER_CODE
        WHERE
             USER_CODE = #{userCode}
    </select>

    <delete id="userPain" parameterType="int">
        DELETE FROM
              PAINDB
        WHERE
              USER_CODE = #{userCode}
    </delete>

    <delete id="facilityUser" parameterType="int">
        DELETE FROM
              FACILITYDB
        WHERE
              USER_CODE = #{userCode}
    </delete>

    <delete id="physicalUser" parameterType="int">
        DELETE FROM
              PHYSICALDB
        WHERE
              USER_CODE = #{userCode}
    </delete>

    <delete id="scheduleUser" parameterType="int">
        DELETE FROM
              SCHEDULEDB
        WHERE
              MEMBER_CODE = #{userCode}
    </delete>

    <delete id="validateUser" parameterType="int">
        DELETE FROM
              VALIDATEDB
        WHERE
              USER_CODE = #{userCode}
    </delete>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM
              USERDB
        WHERE
              USER_CODE = #{userCode}
    </delete>


    <select id="searchedUser" resultMap="userResultMap">
        SELECT
                USER_CODE
             ,  USER_NAME
             ,  USER_ID
             ,  USER_GENDER
             ,  USER_PHONE
             ,  USER_STAFF
        FROM
              USERDB
        <where>
            <if test="condition == 'name'">
                AND USER_NAME Like CONCAT('%', #{ text }, '%')
            </if>
            <if test="condition == 'id'">
                AND USER_ID Like CONCAT('%', #{ text }, '%')
            </if>
            AND USER_ROLE = '회원'
        </where>
        ORDER BY
              USER_CODE
    </select>

    <select id="findAllTeacher" resultMap="userResultMap">
        SELECT
                USER_CODE
             ,  USER_ID
             ,  USER_PWD
             ,  USER_NAME
             ,  USER_PHONE
             ,  USER_ROLE
             ,  USER_PIC
             ,  USER_GENDER
             ,  USER_BIRTH
             ,  USER_ADDRESS
             ,  USER_ETC
             ,  USER_STAFF
         FROM
              USERDB
        WHERE
              USER_ROLE = '직원'
        ORDER BY
              USER_CODE
    </select>

    <insert id="registUser" parameterType="com.willingtogohome.gymga.user.model.dto.UserDTO">
        INSERT INTO USERDB(
                USER_CODE
             ,  USER_ROLE
             ,  USER_NAME
             ,  USER_ID
             ,  USER_PWD
             ,  USER_BIRTH
             ,  USER_GENDER
             ,  USER_PHONE
             ,  USER_ADDRESS
             ,  USER_ETC
             ,  USER_STAFF
        )
        VALUES(
                #{ userCode }
              , #{ userRole }
              , #{ userName }
              , #{ userId }
              , #{ userPwd }
              , #{ userBirth }
              , #{ userGender }
              , #{ userPhone }
              , #{ userAddress }
              , #{ userEtc }
              , #{ userStaff }
        )
    </insert>

    <insert id="registUserPhysical" parameterType="com.willingtogohome.gymga.user.model.dto.PhysicalDTO">
        INSERT INTO PHYSICALDB(
                USER_CODE
                ,  PHY_HEIGHT
                ,  PHY_WEIGHT
                ,  PHY_BMI

        )
        VALUES(
                #{ userCode }
                , #{ height }
                , #{ weight }
                , #{ bmi }
        )
    </insert>


</mapper>