<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/FindStyle.css">
</head>
<body>
    <div class="findBox">
        <div class="findContainer">
            <div class="findHeader">
                <div class="headerBox">
                        <img src="/img/findBack.png">
                    <a href="/login" class="logo">
                        <p class="logo1">Gym</p>
                        <p class="logo2">家</p>
                    </a>
                        <h3 class="findIdPwd">아이디 / 비밀번호 찾기</h3>
                </div>
            </div>

            <form id="findForm" name="findForm" th:action="@{/auth/find}" method="post">
                <div class="form-group">
                    <p class="des1"> 가입 시 등록한 정보를 입력해주세요</p>
                    <hr style="width: 1015px;">
                    <div class="findOption">
                        <div class="findId">
                            <input type="radio" class="controlInput" id="search_1" name="search_total" onclick="search_check(1)" checked>
                            <label class="controlLabel" for="search_1">아이디찾기</label>
                        </div>
                        <div class="findPwd">
                            <input type="radio" class="controlInput" id="search_2" name="search_total" onclick="search_check(2)">
                            <label class="controlLabel" for="search_2">비밀번호찾기</label>
                        </div>
                    </div>
                    <div id="searchI">
                        <label th:for="userName" class="userName" >
                            이름
                        </label><br>
                        <input type="text" name="userName" id="userName" class="name1" required><br>
                        <label th:for="userPhone" class="userPhone">
                            휴대폰번호
                        </label><br>
                        <input type="tel" name="userPhone" class="phone1" id="userPhone" placeholder="ex) 010-0000-0000" required><br>
                        <div class="form-group">
                            <button type="button" class="findIdBtn" id="find_id" onclick="idSearch_click()">아이디 찾기</button>
                        </div>
                    </div>
                    <div id="searchP" style="display: none">
                        <label th:for="userId" class="userId">
                            아이디
                        </label><br>
                        <input type="text" name="userId" id="userId" class="id1" required><br>
                        <label th:for="userPhone_2" class="userPhone">
                            휴대폰번호
                        </label><br>
                        <input type="tel" name="userPhone_2" id="userPhone_2" class="phone2" placeholder="ex) 010-0000-0000" required><br>
                        <div class="form-group">
                            <button type="button" class="findPwdBtn" id="find_pwd" onclick="pwdSearch_click()">비밀번호 찾기</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="buttonBox">
                <div class="modalContainer" style="display: none">
                    <div class="modalContent">
                        <div class="textBox">
                            <h2 class="result">아이디 조회결과</h2>
                                <div id="id_value"></div>
                        </div>
                        <div class="modalButtonBox">
                            <button type="button" class="escButton">닫기</button>
                            <a href="/login" class="goLog">로그인하기</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttonBox2">
                <div class="modalContainer2" style="display: none">
                    <div class="modalContent2">
                        <div class="textBox2">
                            <h2 class="result">비밀번호 조회결과</h2>
                            <div id="pwd_value"></div>
                        </div>
                        <div class="modalButtonBox2">
                            <button type="button" class="escButton2">닫기</button>
                            <a href="/login" class="goLog">로그인하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- 아이디/비밀번호찾기 클릭 시 나타나는 모달 창 -->
<script>
    $(document).ready(function() {
        $(".findIdBtn").click(function() {
            $("#searchI").show();
            $("#searchP").hide();
            $(".modalContainer").show();
        });

        $(".findPwdBtn").click(function () {
            $("#searchI").hide();
            $("#searchP").show();
            $(".modalContainer2").show();
        });

        $(".escButton, .escButton2").click(function() {
            $(this).closest(".modalContainer, .modalContainer2").hide();
        });
    });
</script>

<!-- 아이디 비밀번호 찾기 -->
<script>
    // 아이디 찾기
    var idSearch_click = function (){
        var userName = $('#userName').val();
        var userPhone = $('#userPhone').val();

        $.ajax({
            url:"/login/auth/find_id",
            type:"POST",
            data: {"userName": userName, "userPhone": userPhone},
            success:function (data){
                if (data == 0) {
                    $('#id_value').text("회원 정보가 없습니다.");
                } else {
                    $('#id_value').text(data + " 입니다.");
                    console.log(data)
                }
                $(".modalContainer").show();
            },
            error:function (){
                alert("관리자에게 문의해주세요.");
            }
        });
    };
    // 비밀번호 찾기
    var pwdSearch_click = function (){
        var userId = $('#userId').val();
        var userPhone = $('#userPhone_2').val();

        $.ajax({
            url: "/login/auth/find_pwd",
            type: "POST",
            data: {"userId": userId, "userPhone": userPhone},
            success:function (data){
                if (data == 0) {
                    $('#pwd_value').text("회원 정보가 없습니다.");
                } else {
                    $('#pwd_value').text("입력하신 휴대폰번호로 비밀번호를 발송하였습니다.");
                    console.log(data)
                }
                $(".modalContainer2").show();
            },
            error:function (){
                alert("관리자에게 문의해주세요.");
            }
        });
    };
</script>
<!-- 체크버튼 -->
<script>
    function search_check(num) {
        if (num == '1') {
            document.getElementById("searchP").style.display = "none";
            document.getElementById("searchI").style.display = "";
        } else {
            document.getElementById("searchI").style.display = "none";
            document.getElementById("searchP").style.display = "";
        }
    }
</script>
</body>
</html>