<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>직원 조회</title>
    <link rel="stylesheet" href="/emp/styles/mainStyle.css">
</head>
<body>
    <div class="outerDiv">
        <div class="mainBox">
            <div class="empList">
                <div style="margin-bottom: 20px">
                    <span class="topic">직원 목록</span>
                </div>
                <hr class="line1">
                <div class="empBlock" th:each="emp : ${ empList }">
                    <div class="empBlockLeft">
                        <img class="empImg" th:src="${ emp.pic }"/>
                    </div>
                    <div class="empBlockRight">
                        <p class="empName" th:text="${ emp.name }"></p>
                        <p class="empRole" th:text="${ emp.role }"></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="bigButton" onClick="location.href='/emp/regist'">
                    <img src="/emp/images/emp-regist.png" style="width: 150px"><br>
                    신규 직원 등록
                </div>
                <div class="bigButton" onClick="location.href='/emp/search'">
                    <img src="/emp/images/emp-search.png" style="width: 150px"><br>
                    직원 조회 및 정보 수정
                </div>
            </div>
        </div>
        <div class="scheduleBox">
            <span class="topic" id="today1"></span>
            <span class="date" id="today2"></span>
            <span class="moreSche" onclick="location.href='/schedule/schedulemain'">더보기</span><br>
            <table class="cal">
                <tr>
                    <th class="none">일</th>
                    <th class="none">월</th>
                    <th class="none">화</th>
                    <th class="none">수</th>
                    <th class="none">목</th>
                    <th class="none">금</th>
                    <th class="none">토</th>
                </tr>
                <tr>
                    <td id="sun" class="none"></td>
                    <td id="mon" class="none"></td>
                    <td id="tue" class="none"></td>
                    <td id="wed" class="none"></td>
                    <td id="thu" class="none"></td>
                    <td id="fri" class="none"></td>
                    <td id="sat" class="none"></td>
                </tr>
            </table>
            <hr class="line2">
            <div class="scheBox">
                <div class="timeLine">
                    <div class="pointer" id="pointer1"></div>
                    <hr class="verticalLine">
                    <div class="pointer" id="pointer2"></div>
                    <hr class="verticalLine">
                    <div class="pointer" id="pointer3"></div>
                    <hr class="verticalLine">
                    <div class="pointer" id="pointer4"></div>
                    <hr class="verticalLine">
                    <div class="pointer" id="pointer5"></div>
                    <hr class="verticalLine">
                    <div class="pointer" id="pointer6"></div>
                </div>
                <span id="time1">8:00 am</span><br>
                <div class="scheList">
                    <div th:each="sche : ${ scheList1 }">
                        <span th:text="|${ sche.empDTO.name }님 ${ sche.classDTO.name } 일정 (${ sche.start })|"></span>
                    </div>
                </div>
                <span id="time2">10:00 am</span><br>
                <div class="scheList">
                    <div th:each="sche : ${ scheList2 }">
                        <span th:text="|${ sche.empDTO.name }님 ${ sche.classDTO.name } 일정 (${ sche.start })|"></span>
                    </div>
                </div>
                <span id="time3">12:00 pm</span><br>
                <div class="scheList">
                    <div th:each="sche : ${ scheList3 }">
                        <span th:text="|${ sche.empDTO.name }님 ${ sche.classDTO.name } 일정 (${ sche.start })|"></span>
                    </div>
                </div>
                <span id="time4">14:00 pm</span><br>
                <div class="scheList">
                    <div th:each="sche : ${ scheList4 }">
                        <span th:text="|${ sche.empDTO.name }님 ${ sche.classDTO.name } 일정 (${ sche.start })|"></span>

                    </div>
                </div>
                <span id="time5">16:00 pm</span><br>
                <div class="scheList">
                    <div th:each="sche : ${ scheList5 }">
                        <span th:text="|${ sche.empDTO.name }님 ${ sche.classDTO.name } 일정 (${ sche.start })|"></span>
                    </div>
                </div>
                <span id="time6">18:00 pm</span><br>
                <div class="scheList" style="height: 164px; margin-left: 20px">
                    <div th:each="sche : ${ scheList6 }">
                        <span th:text="|${ sche.empDTO.name }님 ${ sche.classDTO.name } 일정 (${ sche.start })|"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var d = new Date();
        var a = new Date();
        let day = document.getElementById("today1");
        let date = document.getElementById("today2");
        let sun = document.getElementById("sun");
        let mon = document.getElementById("mon");
        let tue = document.getElementById("tue");
        let wed = document.getElementById("wed");
        let thu = document.getElementById("thu");
        let fri = document.getElementById("fri");
        let sat = document.getElementById("sat");

        switch (d.getDay()) {
            case 0: day.innerHTML = '오늘, 일요일';
                    sun.className = "today";
                    a.setDate(d.getDate());
                    sun.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 1);
                    mon.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 2);
                    tue.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 3);
                    wed.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 4);
                    thu.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 5)
                    fri.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 6)
                    sat.innerHTML = a.getDate();
                    break;
            case 1: day.innerHTML = '오늘, 월요일';
                    mon.className = "today";
                    a.setDate(d.getDate() - 1);
                    sun.innerHTML = a.getDate();
                    a.setDate(d.getDate());
                    mon.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 1);
                    tue.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 2);
                    wed.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 3);
                    thu.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 4)
                    fri.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 5)
                    sat.innerHTML = a.getDate();
                    break;
            case 2: day.innerHTML = '오늘, 화요일';
                    tue.className = "today";
                    a.setDate(d.getDate() - 2);
                    sun.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 1);
                    mon.innerHTML = a.getDate();
                    a.setDate(d.getDate());
                    tue.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 1);
                    wed.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 2);
                    thu.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 3)
                    fri.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 4)
                    sat.innerHTML = a.getDate();
                    break;
            case 3: day.innerHTML = '오늘, 수요일';
                    wed.className = "today";
                    a.setDate(d.getDate() - 3);
                    sun.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 2);
                    mon.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 1);
                    tue.innerHTML = a.getDate();
                    a.setDate(d.getDate());
                    wed.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 1);
                    thu.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 2)
                    fri.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 3)
                    sat.innerHTML = a.getDate();
                    break;
            case 4: day.innerHTML = '오늘, 목요일';
                    thu.className = "today";
                    a.setDate(d.getDate() - 4);
                    sun.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 3);
                    mon.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 2);
                    tue.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 1);
                    wed.innerHTML = a.getDate();
                    a.setDate(d.getDate());
                    thu.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 1)
                    fri.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 2)
                    sat.innerHTML = a.getDate();
                    break;
            case 5: day.innerHTML = '오늘, 금요일';
                    fri.className = "today";
                    a.setDate(d.getDate() - 5);
                    sun.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 4);
                    mon.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 3);
                    tue.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 2);
                    wed.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 1);
                    thu.innerHTML = a.getDate();
                    a.setDate(d.getDate())
                    fri.innerHTML = a.getDate();
                    a.setDate(d.getDate() + 1)
                    sat.innerHTML = a.getDate();
                    break;
            case 6: day.innerHTML = '오늘, 토요일';
                    sat.className = "today";
                    a.setDate(d.getDate() - 6);
                    sun.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 5);
                    mon.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 4);
                    tue.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 3);
                    wed.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 2);
                    thu.innerHTML = a.getDate();
                    a.setDate(d.getDate() - 1)
                    fri.innerHTML = a.getDate();
                    a.setDate(d.getDate())
                    sat.innerHTML = a.getDate();
                    break;
        }

        date.innerHTML = d.getFullYear() + '.' + ((d.getMonth() + 1) < 10? '0' + (d.getMonth() + 1) : (d.getMonth() + 1)) + '.' + (d.getDate() < 10? '0' + d.getDate() : d.getDate());

        switch (d.getHours()) {
            case 8 : case 9: document.getElementById("pointer1").className = "pointerTime";
                             document.getElementById("time1").className = "scheTime"; break;
            case 10 : case 11: document.getElementById("pointer2").className = "pointerTime";
                               document.getElementById("time2").className = "scheTime"; break;
            case 12 : case 13: document.getElementById("pointer3").className = "pointerTime";
                               document.getElementById("time3").className = "scheTime"; break;
            case 14 : case 15: document.getElementById("pointer4").className = "pointerTime";
                               document.getElementById("time4").className = "scheTime"; break;
            case 16 : case 17: document.getElementById("pointer5").className = "pointerTime";
                               document.getElementById("time5").className = "scheTime"; break;
            default: document.getElementById("pointer6").className = "pointerTime";
                     document.getElementById("time6").className = "scheTime"; break;
        }
    </script>
</body>
</html>