<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .facCodeLink {
        cursor: pointer; /* 클릭 커서로 변경 */
    }
</style>
</head>
<body>
<!--<h1>사물함 관리</h1>-->
<!--&lt;!&ndash; 조회 버튼과 드롭다운 메뉴 &ndash;&gt;-->
<!--<div class="dropdown">-->
<!--    <button class="dropbtn">조회</button>-->
<!--    <div class="dropdown-content">-->
<!--        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#personalModal">개인조회</button>-->
<!--        <a href="/fac/select/expired">만료조회</a>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="modal fade" id="personalModal" tabindex="-1" role="dialog" aria-labelledby="personalModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="personalModalLabel">개인 조회</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <label>사물함 번호: </label>-->
<!--                <select name="facCode" id="facCode"></select>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>-->
<!--                <button onclick=window.location.href="/fac/select/personal" class="btn btn-primary" data-dismiss="modal">확인</button>-->
<!--                &lt;!&ndash; 다른 작업을 추가하려면 여기에 버튼을 추가하십시오. &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--<button class="btn btn-primary" data-toggle="modal" data-target="#personalModal2">사물함 등록,수정 및 삭제</button>-->

<!--<div class="modal fade" id="personalModal2" tabindex="-1" role="dialog" aria-labelledby="personalModalLabel2" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="personalModalLabel2">사물함 등록,수정 및 삭제</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <a class="btn btn-secondary" href="/fac/regist">등록</a>-->
<!--                <a class="btn btn-secondary" href="/fac/update">수정</a>-->
<!--                <a class="btn btn-secondary" href="/fac/delete">삭제</a>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>-->
<!--                &lt;!&ndash; 다른 작업을 추가하려면 여기에 버튼을 추가하십시오. &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->

<!--<script>-->
<!--    fetch("/fac/fac")-->
<!--        .then(res=>res.json())-->
<!--        .then(data=> {-->
<!--            const $facCode=document.getElementById("facCode");-->

<!--            for(let index in data) {-->
<!--                const $option=document.createElement('option');-->
<!--                $option.text=data[index].facCode;-->



<!--                $facCode.appendChild($option);-->
<!--            }-->
<!--        })-->
<!--</script>-->

<!--<table align="center" border="1">-->

<!--    <tr>-->
<!--        <th>사물함 번호</th>-->
<!--        <th>사물함 상태</th>-->
<!--        <th>시작 기간</th>-->
<!--        <th>회원 번호</th>-->
<!--        <th>만료 기간</th>-->

<!--    </tr>-->
<!--    <tr th:each="facs: ${facList}">-->
<!--        <td th:text="${facs.facCode}"></td>-->
<!--        <td th:text="${facs.facStatus}"></td>-->
<!--        <td th:text="${facs.facStart}"></td>-->
<!--        <td th:text="${facs.userCode}"></td>-->
<!--        <td th:text="${facs.facEnd}"></td>-->
<!--    </tr>-->
<!--</table>-->

<h1>사물함 관리</h1>

<!-- 조회 버튼과 드롭다운 메뉴 -->
<div class="dropdown">
    <button class="dropbtn">조회</button>
    <div class="dropdown-content">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#personalModal">개인조회</button>
        <a href="/fac/select/expired">만료조회</a>
    </div>
</div>

<!-- 개인 조회 모달 -->
<div class="modal fade" id="personalModal" tabindex="-1" role="dialog" aria-labelledby="personalModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="personalModalLabel">개인 조회</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>사물함 번호: </label>
                <select name="facCode" id="facCode"></select><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button onclick="sendRequest()" class="btn btn-primary" data-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>

<script>
    function sendRequest() {
        // 선택된 회원 코드 가져오기
        const selectedFacCode = document.getElementById("facCode").value;
        // userCode 파라미터를 포함하여 URL로 이동
        window.location.href = "/fac/select/personal?facCode=" + selectedFacCode;
    }
</script>

<script>
    fetch("/fac/fac")
        .then(res=>res.json())
        .then(data=> {
            const $facCode=document.getElementById("facCode");

            for(let index in data) {
                const $option=document.createElement('option');
                $option.text=data[index].facCode;
                $option.value=data[index].facCode;
                $facCode.appendChild($option);
            }
        })
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div th:fragment="select">
    <table align="center" border="1">
        <tr>
            <th>사물함 번호</th>
            <th>사물함 상태</th>
            <th>시작 기간</th>
            <th>회원 번호</th>
            <th>만료 기간</th>

        </tr>
        <tr th:each="facs: ${facList}">
<!--            <td><a href="#" data-toggle="modal" data-faccode="${facs.facCode}" id="facCodes" data-target="#facActionModal">[[${facs.facCode}]]</a></td>-->
            <td href="#" data-toggle="modal" class="facCodeLink" data-target="#facActionModal" th:text="${facs.facCode}"></td>
            <td th:text="${facs.facStatus}"></td>
            <td th:text="${facs.facStart}"></td>
            <td class="userCode" th:text="${facs.userCode}"></td>
            <td th:text="${facs.facEnd}"></td>
        </tr>
    </table>
</div>


<!-- 사물함 등록, 수정, 삭제 모달 -->
<div class="modal fade" id="facActionModal" tabindex="-1" role="dialog" aria-labelledby="facActionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="facActionModalLabel">사물함 등록, 수정 및 삭제</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- 등록, 수정, 삭제 버튼 -->
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#facActionModal2">등록</button>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#facActionModal3">수정</button>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#facActionModal4">삭제</button>


<!--                <a class="btn btn-secondary" href="/fac/update">수정</a>-->
<!--                <a class="btn btn-secondary" href="/fac/delete">삭제</a>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="facActionModal2" tabindex="-1" role="dialog" aria-labelledby="facActionModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="facActionModalLabel2" >사물함 등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="registForm" onsubmit="submitForm()">
                    <label>사물함 번호: </label>
                    <input type="text" name="facCode" id="clickedFacCodeInput" readonly><br>
<!--                    <p>사물함 번호: <span th:text="${facCode}"></span></p>-->
                    <label>회원 코드: </label>
                    <select name="userCode" id="userCode"></select><br>
                    <label>사용 가능 상태: </label>
                    <select name="facStatus" id="facStatus">
                        <option value=""></option>
                        <option value="사용중">사용 중</option>
                        <option value="만료">만료</option>
                    </select><br>
                    <label>사용 시작 기간: </label>
                    <input type="date" name="facStart" id="facStart"><br>
                    <label>사용 만료 기간: </label>
                    <input type="date" name="facEnd" id="facEnd"><br>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button onclick="submitForm()" class="btn btn-primary" data-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>

<script>
    function submitForm() {

// 폼 데이터 가져오기
        const formData = new FormData(document.getElementById("registForm"))



// POST 요청 보내기
        fetch("/fac/regist", {
            method: "POST",
            body: formData
        })
            .then(response => {
                if (response.ok) {
// 성공적으로 처리된 경우 모달 닫기
                    $('#facActionModal').modal('hide');
                    window.location.href = "/fac/select";





                } else {
// 실패한 경우 오류 메시지 표시
                    console.error('등록 실패');
                }
            })
            .catch(error => console.error('에러 발생:', error));
    }
</script>



<script th:inline="javascript">
    $(document).ready(function () {
        // 클릭한 번호를 input 상자에 보여주는 함수
        $('.facCodeLink').click(function() {
            // 클릭한 번호 가져오기
            var facCode = $(this).text(); // 링크의 텍스트를 가져옴
            var $tr = $(this).closest('tr');
            var userCode = $tr.find('.userCode').text();

            // data-faccode 속성에 번호 설정
            $('#facActionModal').attr('data-facCode', facCode);
            // input 상자에 번호 표시
            $('#clickedFacCodeInput').val(facCode);
            $('#clickedFacCodeInput2').val(facCode);
            $('#clickedFacCodeInput3').val(facCode);
            $('#clickedUserCodeInput').val(userCode);
        });
    });
</script>

<script>
    fetch("/fac/user")
        .then(res=>res.json())
        .then(data=> {
            const $userCode=document.getElementById("userCode");

            for(let index in data) {
                const $option=document.createElement('option');
                $option.text=data[index].userCode;
                $userCode.appendChild($option);
            }
        })
</script>





<div class="modal fade" id="facActionModal3" tabindex="-1" role="dialog" aria-labelledby="facActionModalLabel3" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="facActionModalLabel3">사물함 수정</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateForm" onsubmit="submitForm2()">
                    <label>사물함 번호: </label>
                    <input type="text" name="facCode" id="clickedFacCodeInput2"><br>
                    <label>회원 코드: </label>
                    <input type="text" name="userCode" id="clickedUserCodeInput" ><br>
<!--                    <label>회원 코드: </label>-->
<!--                    <select name="userCode" id="userCode3"></select><br>-->
                    <label>사용 가능 상태: </label>
                    <select name="facStatus" id="facStatus3">
                        <option value=""></option>
                        <option value="사용중">사용 중</option>
                        <option value="만료">만료</option>
                    </select><br>
                    <label>사용 시작 기간: </label><input type="date" name="facStart"><br>
                    <label>사용 만료 기간: </label><input type="date" name="facEnd"><br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button onclick="submitForm2()" class="btn btn-primary" data-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>
<script>
    function submitForm2() {

// 폼 데이터 가져오기
        const formData = new FormData(document.getElementById("updateForm"));

// POST 요청 보내기
        fetch("/fac/update", {
            method: "POST",
            body: formData
        })
            .then(response => {
                if (response.ok) {
// 성공적으로 처리된 경우 모달 닫기
                    $('#updateModal').modal('hide');
                    $('#facActionModal').modal('hide');
                    window.location.href = "/fac/select";

                } else {
// 실패한 경우 오류 메시지 표시
                    console.error('등록 실패');
                }
            })
            .catch(error => console.error('에러 발생:', error));
    }

</script>


<script>
    fetch("/fac/user")
        .then(res=>res.json())
        .then(data=> {
            const $userCode=document.getElementById("userCode3");

            for(let index in data) {
                const $option=document.createElement('option');
                $option.text=data[index].userCode;
                $userCode.appendChild($option);
            }
        })
</script>

<script>
    fetch("/fac/fac")
        .then(res=>res.json())
        .then(data=> {
            const $facCode=document.getElementById("facActionModalFacCode3");

            for(let index in data) {
                const $option=document.createElement('option');
                $option.text=data[index].facCode;
                $option.value=data[index].facCode;
                $facCode.appendChild($option);
            }
        })
</script>


<div class="modal fade" id="facActionModal4" tabindex="-1" role="dialog" aria-labelledby="facActionModalLabel4" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="facActionModalLabel4">사물함 삭제</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="deleteForm" onsubmit="submitForm3()">
                    <label>사물함 번호: </label>
                    <input type="text" name="facCode" id="clickedFacCodeInput3" readonly><br>
                    <label>사용 가능 상태: </label>
                    <select name="facStatus" id="facStatus4">
                        <option value=""></option>
                        <option value="사용중">사용 중</option>
                        <option value="만료">만료</option>
                    </select><br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button onclick="submitForm3()" class="btn btn-primary" data-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>



<script>
    function submitForm3() {

// 폼 데이터 가져오기
        const formData = new FormData(document.getElementById("deleteForm"));

// POST 요청 보내기
        fetch("/fac/delete", {
            method: "POST",
            body: formData
        })
            .then(response => {
                if (response.ok) {
// 성공적으로 처리된 경우 모달 닫기
                    $('#facActionModal').modal('hide');
                    window.location.href = "/fac/select";

                } else {
// 실패한 경우 오류 메시지 표시
                    console.error('등록 실패');
                }
            })
            .catch(error => console.error('에러 발생:', error));
    }

</script>



<script>
    fetch("/fac/user")
        .then(res=>res.json())
        .then(data=> {
            const $userCode=document.getElementById("userCode4");

            for(let index in data) {
                const $option=document.createElement('option');
                $option.text=data[index].userCode;
                $userCode.appendChild($option);
            }
        })
</script>

<script>
    fetch("/fac/fac")
        .then(res=>res.json())
        .then(data=> {
            const $facCode=document.getElementById("facActionModalFacCode4");

            for(let index in data) {
                const $option=document.createElement('option');
                $option.text=data[index].facCode;
                $option.value=data[index].facCode;
                $facCode.appendChild($option);
            }
        })
</script>

</body>
</html>