<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>findAll 테스트</h1>
    <table align="center", border="1">
        <tr>
            <th>SCHE_CODE</th>
            <th>CLASS_NAME</th>
            <th>SCHE_REG_DATE</th>
            <th>SCHE_RUN_DATE</th>
            <th>SCHE_START_TIME</th>
            <th>SCHE_END_TIME</th>
            <th>SCHE_PARTICIPATE</th>
            <th>SCHE_ATTEN</th>
            <th>EMP_NAME</th>
            <th>MEMBER_NAME</th>
            <th>PASS_TOTAL</th>
            <th>PASS_USE</th>
        </tr>
        <tr th:each="all: ${allList}">
            <td>
                <a th:text="${all.scheCode}" th:href="@{|/schedule/schedulelist/${all.scheCode}|}"></a>
            </td>
            <td th:text="${all.classCategory.className}"></td>
            <td th:text="${all.scheRegDate}"></td>
            <td th:text="${all.scheRunDate}"></td>
            <td th:text="${all.scheStartTime}"></td>
            <td th:text="${all.scheEndTime}"></td>
            <td th:text="${all.scheParticipate}"></td>
            <td th:text="${all.scheAtten}"></td>
            <td th:text="${all.empCategory.empName}"></td>
            <td th:text="${all.userCategory.memberName}"></td>
            <td th:text="${all.passTotalCategory != null ? all.passTotalCategory.passTotal : ''}"></td>
            <td th:text="${all.passUseCategory != null ? all.passUseCategory.passUse : ''}"></td>
        </tr>
    </table>
    <hr>
    <a href="/schedule/schedulemain">메인으로</a>
    <a href="/schedule/scheduleregist">일정등록</a>
</body>
</html>