<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.willingtogohome.gymga.schedule.model.dao.ScheduleMapper">

    <resultMap id="scheduleResultMap" type="com.willingtogohome.gymga.schedule.model.dto.ScheduleDTO">
        <id property="scheCode" column="sche_code"/>
        <result property="classCode" column="class_code"/>
        <result property="scheRegDate" column="sche_reg_date"/>
        <result property="scheRunDate" column="sche_run_date"/>
        <result property="scheStartTime" column="sche_start_time"/>
        <result property="scheEndTime" column="sche_end_time"/>
        <result property="scheParticipate" column="sche_participate"/>
        <result property="scheAtten" column="sche_atten"/>
        <result property="empCode" column="emp_code"/>
        <result property="memberCode" column="member_code"/>
        <result property="passCode" column="pass_code"/>
    </resultMap>

    <resultMap id="classResultMap" type="com.willingtogohome.gymga.schedule.model.dto.ClassDTO">
        <id property="classCode" column="class_code"/>
        <result property="className" column="class_name"/>
    </resultMap>

    <resultMap id="empResultMap" type="com.willingtogohome.gymga.schedule.model.dto.EmpDTO">
        <id property="empCode" column="user_code"/>
        <result property="empName" column="user_name"/>
    </resultMap>

    <select id="findAllSchedule" resultMap="scheduleResultMap">
        SELECT
               sche_code,
               class_code,
               sche_reg_date,
               sche_run_date,
               sche_start_time,
               sche_end_time,
               sche_participate,
               sche_atten,
               emp_code,
               member_code,
               pass_code
          FROM scheduledb
        ORDER BY sche_code
    </select>

    <select id="findAllTeacher" resultMap="empResultMap">
        SELECT
               user_code,
               user_id,
               user_pwd,
               user_name,
               user_phone,
               user_role,
               user_pic,
               user_gender,
               user_birth,
               user_address,
               user_etc,
               user_staff
          FROM userdb
         WHERE user_role = '직원'
        ORDER BY user_code
    </select>

    <insert id="registNewSchedule" parameterType="com.willingtogohome.gymga.schedule.model.dto.ScheduleDTO">
        INSERT
          INTO scheduledb
               (class_code, sche_reg_date, sche_run_date, sche_start_time, sche_end_time, sche_participate, sche_atten, emp_code)
        VALUES (
                'PT01',
                SYSDATE(),
                #{ scheRunDate },
                #{ scheStartTime },
                #{ scheEndTime },
                #{ scheParticipate },
                '예약대기',
                #{ empCode }
               )
    </insert>

    <!--collection-->
    <resultMap id="scheduleAndClassAndUserAndPassResultMap" type="com.willingtogohome.gymga.schedule.model.dto.ScheduleAndClassAndUserAndPassDTO">
        <!--ScheduleDTO-->
        <id property="scheCode" column="sche_code"/>
        <result property="scheRegDate" column="sche_reg_date"/>
        <result property="scheRunDate" column="sche_run_date"/>
        <result property="scheStartTime" column="sche_start_time"/>
        <result property="scheEndTime" column="sche_end_time"/>
        <result property="scheParticipate" column="sche_participate"/>
        <result property="scheAtten" column="sche_atten"/>
        <!--classDTO-->
        <association property="classCategory" javaType="com.willingtogohome.gymga.schedule.model.dto.ClassDTO">
            <id property="classCode" column="class_code"/>
            <result property="className" column="class_name"/>
        </association>
        <!--userDTO-->
        <association property="empCategory" javaType="com.willingtogohome.gymga.schedule.model.dto.EmpDTO">
            <id property="empCode" column="user_code"/>
            <result property="empName" column="emp_name"/>
        </association>
        <association property="userCategory" javaType="com.willingtogohome.gymga.schedule.model.dto.MemberDTO">
            <id property="memberCode" column="user_code"/>
            <result property="memberName" column="user_name"/>
        </association>
        <!--passDTO-->
        <association property="passTotalCategory" javaType="com.willingtogohome.gymga.schedule.model.dto.PassTotalDTO">
            <id property="passCode" column="pass_code"/>
            <result property="passTotal" column="pass_total"/>
        </association>
        <association property="passUseCategory" javaType="com.willingtogohome.gymga.schedule.model.dto.PassUseDTO">
            <id property="passCode" column="pass_code"/>
            <result property="passUse" column="pass_use"/>
        </association>
    </resultMap>
    <select id="findAll" resultMap="scheduleAndClassAndUserAndPassResultMap">
        SELECT
               A.SCHE_CODE,
<!--               B.CLASS_CODE,-->
               B.CLASS_NAME,
               A.SCHE_REG_DATE,
               A.SCHE_RUN_DATE,
               A.SCHE_START_TIME,
               A.SCHE_END_TIME,
               A.SCHE_PARTICIPATE,
               A.SCHE_ATTEN,
<!--               A.EMP_CODE,-->
<!--               C.USER_CODE,-->
               C.USER_CODE,
               C.USER_NAME AS EMP_NAME,
<!--               A.MEMBER_CODE,-->
<!--               D.USER_CODE,-->
               D.USER_CODE,
               D.USER_NAME,
<!--               A.PASS_CODE,-->
<!--               E.PASS_CODE,-->
               E.PASS_TOTAL,
               E.PASS_USE
        FROM SCHEDULEDB AS A
        LEFT JOIN CLASSDB AS B ON (A.CLASS_CODE = B.CLASS_CODE)
        LEFT JOIN USERDB AS C ON (A.EMP_CODE = C.USER_CODE)
        LEFT JOIN USERDB AS D ON (A.MEMBER_CODE = D.USER_CODE)
        LEFT JOIN PASSDB AS E ON (A.PASS_CODE = E.PASS_CODE)
        ORDER BY A.SCHE_CODE
    </select>

    <select id="findByScheCode" resultMap="scheduleAndClassAndUserAndPassResultMap">
        SELECT
                A.SCHE_CODE,
                <!--               B.CLASS_CODE,-->
                B.CLASS_NAME,
                A.SCHE_REG_DATE,
                A.SCHE_RUN_DATE,
                A.SCHE_START_TIME,
                A.SCHE_END_TIME,
                A.SCHE_PARTICIPATE,
                A.SCHE_ATTEN,
                <!--               A.EMP_CODE,-->
                <!--               C.USER_CODE,-->
                C.USER_CODE,
                C.USER_NAME AS EMP_NAME,
                <!--               A.MEMBER_CODE,-->
                <!--               D.USER_CODE,-->
                D.USER_CODE,
                D.USER_NAME,
                <!--               A.PASS_CODE,-->
                <!--               E.PASS_CODE,-->
                E.PASS_TOTAL,
                E.PASS_USE
           FROM SCHEDULEDB AS A
        LEFT JOIN CLASSDB AS B ON (A.CLASS_CODE = B.CLASS_CODE)
        LEFT JOIN USERDB AS C ON (A.EMP_CODE = C.USER_CODE)
        LEFT JOIN USERDB AS D ON (A.MEMBER_CODE = D.USER_CODE)
        LEFT JOIN PASSDB AS E ON (A.PASS_CODE = E.PASS_CODE)
        WHERE A.SCHE_CODE = #{scheCode}
        ORDER BY A.SCHE_CODE
    </select>

    <!-- 1:1PT 일정 변경 -->
    <update id="updateSchedule" parameterType="com.willingtogohome.gymga.schedule.model.dto.ScheduleDTO">
        UPDATE scheduledb
           SET sche_run_date = #{scheRunDate},
               sche_start_time = #{scheStartTime},
               sche_end_time = #{scheEndTime},
               EMP_CODE = #{empCode}
        WHERE sche_code = #{scheCode};
    </update>

    <!-- 출석 눌렀을 때-->
    <update id="updateAtten" parameterType="int">
        UPDATE scheduledb A
        INNER JOIN passdb AS E ON A.PASS_CODE = E.PASS_CODE
        SET E.PASS_TOTAL = CASE
        WHEN A.SCHE_ATTEN = '출석' THEN E.PASS_TOTAL - 1
        ELSE E.PASS_TOTAL
        END,
        E.PASS_USE = CASE
        WHEN A.SCHE_ATTEN = '출석' THEN E.PASS_USE + 1
        ELSE E.PASS_USE
        END,
        A.SCHE_ATTEN = CASE
        WHEN A.SCHE_ATTEN = '예약' THEN '출석'
        ELSE A.SCHE_ATTEN
        END
        WHERE A.sche_code = #{scheCode} AND A.SCHE_ATTEN = '예약';
    </update>

    <!-- 결석 눌렀을 때-->
    <update id="updateAbsent" parameterType="int">
        UPDATE scheduledb A
        INNER JOIN passdb AS E ON A.PASS_CODE = E.PASS_CODE
        SET E.PASS_TOTAL = CASE
        WHEN A.SCHE_ATTEN = '결석' THEN E.PASS_TOTAL - 1
        ELSE E.PASS_TOTAL
        END,
        E.PASS_USE = CASE
        WHEN A.SCHE_ATTEN = '결석' THEN E.PASS_USE + 1
        ELSE E.PASS_USE
        END,
        A.SCHE_ATTEN = CASE
        WHEN A.SCHE_ATTEN = '예약' THEN '결석'
        ELSE A.SCHE_ATTEN
        END
        WHERE A.sche_code = #{scheCode} AND A.SCHE_ATTEN = '예약';
    </update>

    <!-- 취소 버튼 눌렀을 시 원래대로 돌아감 수정해야함 -->
<!--    <update id="updateCancel1" parameterType="com.willingtogohome.gymga.schedule.model.dto.ScheduleAndClassAndUserAndPassDTO">-->
<!--        UPDATE scheduledb A-->
<!--        INNER JOIN passdb AS E ON A.PASS_CODE = E.PASS_CODE-->
<!--        SET-->
<!--        E.PASS_TOTAL =-->
<!--        CASE-->
<!--        WHEN A.SCHE_ATTEN = '출석' THEN E.PASS_TOTAL + 1-->
<!--        WHEN A.SCHE_ATTEN = '결석' THEN E.PASS_TOTAL + 1-->
<!--        ELSE E.PASS_TOTAL + 1-->
<!--        END,-->
<!--        E.PASS_USE =-->
<!--        CASE-->
<!--        WHEN A.SCHE_ATTEN = '출석' THEN E.PASS_USE - 1-->
<!--        WHEN A.SCHE_ATTEN = '결석' THEN E.PASS_USE - 1-->
<!--        ELSE E.PASS_USE - 1-->
<!--        END,-->
<!--        A.SCHE_ATTEN =-->
<!--        CASE-->
<!--        WHEN A.SCHE_ATTEN = '출석' THEN '예약'-->
<!--        WHEN A.SCHE_ATTEN = '결석' THEN '예약'-->
<!--        ELSE A.SCHE_ATTEN-->
<!--        END-->
<!--        WHERE A.sche_code = #{scheCode};-->
<!--    </update>-->
    <update id="updateCancel" parameterType="com.willingtogohome.gymga.schedule.model.dto.ScheduleAndClassAndUserAndPassDTO">
        UPDATE scheduledb A
        INNER JOIN passdb AS E ON A.PASS_CODE = E.PASS_CODE
        SET
        E.PASS_TOTAL =
        CASE
        WHEN A.SCHE_ATTEN = '출석' THEN E.PASS_TOTAL + 1
        WHEN A.SCHE_ATTEN = '결석' THEN E.PASS_TOTAL + 1
        ELSE E.PASS_TOTAL + 1
        END,
        E.PASS_USE =
        CASE
        WHEN A.SCHE_ATTEN = '출석' THEN E.PASS_USE - 1
        WHEN A.SCHE_ATTEN = '결석' THEN E.PASS_USE - 1
        ELSE E.PASS_USE - 1
        END,
        A.SCHE_ATTEN =
        CASE
        WHEN A.SCHE_ATTEN IN ('출석', '결석') THEN '예약'
        ELSE A.SCHE_ATTEN
        END
        WHERE A.sche_code = #{scheCode};
    </update>

    <select id="findScheAtten" resultMap="scheduleAndClassAndUserAndPassResultMap">
        SELECT
               sche_code,
               sche_atten
          FROM scheduledb
         WHERE sche_code = #{scheCode}
    </select>



</mapper>
